<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StartBam | Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/sturtup.css">
    <link rel="stylesheet" href="../static/css/card.css"> 
</head>
<body>
    <header>
        <div class="container">
            <div class="header-menu">
                <div class="header-logo">
                    <a href="/"><img src="../static/assets/icons/Startbamsvg.svg" alt="logo"></a>
                </div>
                <div class="header-user">
                    
                    </div>
                    <div class="burger-menu">
                        <div class="burger-menu__stick"></div>
                        <div class="burger-menu__stick"></div>
                        <div class="burger-menu__stick"></div>
                    </div>
                    <div class="burger-menu-wrapper">
                        <ul>
                            <ul>
                                <li class="nav-item"><button class="btn btn-fil">Поиск стартапов</button></li>
                                <li class="nav-item"><button class="btn btn-">Контакты</button></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main-section">
        <section class="section-card">
            
        </section>
    </main>
    <footer>
        <div class="container">
            <img src="../static/assets/icons/Startbamsvg.svg" alt="logo">
        </div>
    </footer>
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/card.js"></script>
    <script src="../static/js/burgermenu.js"></script>
</body>
</html>