<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StartBam | Register</title>
    <link rel="stylesheet" href="../static/css/contacts.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="header-menu">
                <div class="header-logo">
                    <a href="/"><img src="../static/assets/icons/Startbamsvg.svg" alt="logo"></a>
                </div>
                <div class="header-user">
                    <div class="user-wrapper">
                        <div class="user-wrapper-info">
                            <a href="#">User102312</a>
                            <img src="../static/assets/icons/user.svg" alt="user">
                        </div>
                    </div>
                    <div class="burger-menu">
                        <div class="burger-menu__stick"></div>
                        <div class="burger-menu__stick"></div>
                        <div class="burger-menu__stick"></div>
                    </div>
                    <div class="burger-menu-wrapper">
                        <ul>
                            <ul>
                                <li class="nav-item"><a href="#">Поиск стартапов</a></li>
                                <li class="nav-item"><a href="#">Контакты</a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="section-contacts">
            <div class="container">
                <div class="section-contacts__wrapper">
                    <h1 class="montserrat-alt">Контакты</h1>
                    <p class="montserrat"><img src="../static/assets/icons/telegram.svg" alt="telegram"> <a href="https://t.me/provodAAA">https://t.me/provodAAA</a></p>
                    <p class="montserrat"><img src="../static/assets/icons/mail.svg" alt="mail"> <a href="this.provod@gmail.com">this.provod@gmail.com</a></p>
                    <p class="montserrat"><img src="../static/assets/icons/clock.svg" alt="clock"> 8:00 - 20:00</p>
                    <img src="../static/assets/pictures/bblogo.jpg" alt="bblogo" class="contacts-logo">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <img src="../static/assets/icons/Startbamsvg.svg" alt="logo">
        </div>
    </footer>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/burgermenu.js"></script>
</body>
</html>