<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StartBam | Register</title>
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="bg-register top"></div>
    <div class="bg-register midle"></div>
    <div class="bg-register bottom"></div>
    <header>
        <div class="container">
            <div class="header-menu">
                <div class="header-logo">
                    <button class="btn btn-main">
                        <img src="../static/assets/icons/Startbamsvg.svg" alt="logo">
                    </button>
                </div>
                <div class="header-button">
                    <button class="btn btn-authorization">Войти</button>
                </div>
            </div>
        </div>
    </header>
    <main class="main-section">
        <section class="section-register">
            <div class="container">
                <div class="section-register-wrapper">
                    <div class="section-register-info">
                        <h2>Регистрация</h2>
                        <form class="form form-reg" action="">
                            <label for="">Логин</label>
                            <input type="text" name="login">
                            <label for="">Пароль</label>
                            <input type="password" name="password-1">
                            <label for="">Повторить пaроль</label>
                            <input type="password" name="password-2">
                            <button class="btn-sub btn-reg" type="submit">Регистрация</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>