<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StartBam | Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/main.css"> 
</head>
<body>
    <header>
        <div class="container">
            <div class="header-menu">
                <div class="header-logo">
                    <button class="btn btn-main">
                        <img src="../static/assets/icons/Startbamsvg.svg" alt="logo">
                    </button>
                </div>
                <div class="header-user">
                    <!--<div class="user-wrapper">
                        <div class="user-wrapper-info">
                            <a href="#">User102312</a>
                            <img src="../static/assets/icons/user.svg" alt="user">
                        </div> -->
                    </div>
                    <div class="burger-menu">
                        <div class="burger-menu__stick"></div>
                        <div class="burger-menu__stick"></div>
                        <div class="burger-menu__stick"></div>
                    </div>
                    <div class="burger-menu-wrapper">
                        <ul>
                            <li class="nav-item"><button class="btn btn-fil">Поиск стартапов</button></li>
                            <li class="nav-item"><button class="btn btn-">Контакты</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main-section">
        <section class="section-welcome">
            <div class="container">
                <div class="section-welcome__info">
                    <h1 class="montserrat-alt">Начни свой путь с нами</h1>
                    <button>Опубликовать свой стартап</button>
                    <p class="montserrat">STARTBAM</p>
                </div>
                <!-- <div class="welcome-planet">
                    <h1 class="montserrat">StartBam</h1>
                    <img src="../static/assets/icons/planet.svg" alt="planet">
                    <img src="../static/assets/icons/rocket.svg" alt="rocket" class="welcome-rocket">
                </div> -->
            </div>
        </section>
        <section class="section-about">
            <div class="container">
                <div class="section-about-wrapper">
                    <div class="about-text">
                        <h2 class="montserrat-alt">О НАС</h2>
                        <p class="comfortaa">Социальная компания StartBam была созданна студенческим коллективом для упрощения поиска спонсоров для собственных стартапов, а также для упрощенного поиска иновационных идей. Проект поддерживает любые начинаения являетесь вы студентом, физическим лицом или комерческой компание.</p>
                        <button>Подробнее</button>
                    </div>
                    <div class="about-image">
                        <img src="../static/assets/pictures/bg-about.jpg" alt="logo-fti">
                    </div>
                </div>
            </div>
        </section>
        <section class="section-top">
            <div class="container">
                <div class="section-top-title">
                    <h2 class="montserrat-alt">ТОП СТАРТАПОВ</h2>
                </div>
                <div class="section-top-wrapper">
                    
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <img src="../static/assets/icons/Startbamsvg.svg" alt="logo">
        </div>
    </footer>
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/burgermenu.js"></script>
</body>
</html>