<!DOCTYPE html>
<html lang="ru"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StartBam | Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/sturtup.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="header-menu">
                <div class="header-logo">
                    <a href="/"><img src="../static/assets/icons/Startbamsvg.svg" alt="logo"></a>
                </div>
                <div class="header-user">
                    
                    <div class="burger-menu">
                        <div class="burger-menu__stick"></div>
                        <div class="burger-menu__stick"></div>
                        <div class="burger-menu__stick"></div>
                    </div>
                    <div class="burger-menu-wrapper">
                        <ul>
                            <ul>
                                <li class="nav-item"><a href="#">Поиск стартапов</a></li>
                                <li class="nav-item"><a href="#">Контакты</a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main-section">
        <section class="section-startup">
            <div class="container">
                <h2 class="montserrat-alt">Создание стартапа</h2>
                <div class="section-startup__wrapper">
                    <div class="startup__form">
                        <form class="form-startup" action="">
                            <label for="">Тема</label>
                            <input name="topic" type="text">
                            <label for="">Заголовок</label>
                            <input name="title" type="text">
                            <label for="">Описание</label>
                            <textarea name="description" id=""></textarea>
                            <label for="">Контакты</label>
                            <input name="contacts" type="text">
                            <button class="btn-sub" type="submit">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <img src="../static/assets/icons/Startbamsvg.svg" alt="logo">
        </div>
    </footer>
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <script src="../static/js/startup.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/burgermenu.js"></script>
</body>
</html>